<cart-free-product section-id="{{ section.id }}" class="mini-cart__recommendations">
  <div class="mini-cart__recommendations-inner">
    {%- if section.settings.free_product_title != blank -%}
      <p class="mini-cart__recommendations-heading heading heading--small hidden-pocket">{{ section.settings.free_product_title | escape }}</p>
      <p class="mini-cart__recommendations-heading heading heading--xsmall text--subdued hidden-lap-and-up">{{ section.settings.free_product_title | escape }}</p>
    {%- endif -%}

    <div class="scroller">
      <div class="scroller__inner">
        <div class="mini-cart__recommendations-list">
          {%- render 'product-item', product: product, free: true, reduced_content: true, reduced_font_size: true, hide_secondary_image: true, show_cta: true, sizes_attribute: '(max-width: 740px) 65px, 92px' -%}
        </div>
      </div>
    </div>
  </div>
</cart-free-product>